/* ภาพรวม */
body {
    font-family: Sarabun, serif;
}

/* วาง nav ไว้ข้างล่างสุดแล้วทำให้อยู่กับที่ */
nav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ตกแต่งลิงค์ข้างใน nav */
nav a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 64px;
    transform: scale(1.5);
    transform-origin: center;
}

/* เปลี่ยนสีเมื่อเอาเมาส์ไปวาง */
nav a:hover {
    color: black;
}

/* เพิ่มสีเข้าไปในลิงค์ปัจจุบัน */
nav a.active {
    color: black;
}

/* ขนาดปุ่ม nav */
span.size-48 {
    font-size: 64px;
    font-variation-settings: 'OPSZ' 48;
}