/* ภาพรวม */
body {
    font-family: "Kanit", serif;
    margin: 0;
    padding: 0;
}

/* วาง nav ไว้ข้างล่างสุดแล้วทำให้อยู่กับที่ */
nav#main {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.1);
}

/* nav Category */
nav#category {
    background-color: white;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 15px 30px 100px;
    margin-bottom: 10px;
    box-sizing: border-box;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    height: 80px;
    line-height: 72px;
}

nav#category::-webkit-scrollbar {
    display: none;
}

/* ข้อมูลใน nav เลือกหมวดหมู่ */
nav#category a {
    display: inline;
    color: gray;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 16px 15px;
    text-decoration: none;
    font-size: 48px;
    white-space: nowrap;
}

/* ตกแต่งลิงค์ข้างใน nav */
nav#main a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 20px 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 24px;
    transform-origin: center;
}

/* เปลี่ยนสีเมื่อเอาเมาส์ไปวาง */
nav#main a:hover {
    color: black;
}

/* เพิ่มสีเข้าไปในลิงค์ปัจจุบัน */
nav#main a.active {
    color: black;
}

/* เปลี่ยนสีเมื่อเอาเมาส์ไปวาง */
nav#category a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* เพิ่มสีเข้าไปในลิงค์ปัจจุบัน */
nav#category a.active {
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* ขนาดปุ่ม nav */
span.size-48 {
    transform: scale(1.4);
    font-size: 64px;
    font-variation-settings: 'OPSZ' 48;
}

/* หัว SUMI */
header {
    font-size: 64px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 5px;
}

header a {
    text-decoration: none;
    color: black;
}

main.homepage {
    margin-left: 45px;
    margin-bottom: 250px;
    margin-right: 45px;
}

input.search_box {
    display: inline;
    height: 70px;
}

/* สำหรับ Desktop */
@media (min-width: 600px) {

}